* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  box-shadow: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Header */

.header {
  display: flex;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #6366f1;
}

.header svg {
  width: 48px;
  height: 48px;
}

.header svg path {
  fill: #f9fafb;
}

.header h2 {
  color: #f9fafb;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
}

/* Tabs */
.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.tab-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-menu-container {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 8px;
  background: #ebeef2;
}

.tab-menu-container .tab-link {
  display: flex;
  width: 167.5px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.tab-menu-container .tab-link.active {
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  background: #fff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
    0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.tab-menu-container .tab-link svg {
  width: 24px;
  height: 24px;
}

.tab-menu-container .tab-link p {
  color: #394452;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

/* Section */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.section h5 {
  color: #2c3a4b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.section .actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.actions .input-group {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  justify-content: start;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 8px 8px 24px 0px rgba(11, 24, 43, 0.08);
}

.actions .input-group svg {
  width: 24px;
  height: 24px;
}

.actions .input-group input {
  width: 100%;
  color: #6d7580;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.actions button {
  cursor: pointer;
  display: flex;
  padding: 12px 14px 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 8px 8px 24px 0px rgba(11, 24, 43, 0.08);
}

.actions button span {
  color: #6b7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.actions button svg {
  width: 24px;
  height: 24px;
}

/* Tab Content */

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
}

.tab-content .tab-pane {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 40px;
}

/* Sections */

.section .list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 32px;
  width: 100%;
}

/* Modal */


/* Chart */
.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 8px 8px 24px 0px rgba(11, 24, 43, 0.08);
}

.chart-container h5 {
  color: #2c3a4b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.double-chart-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  width: 100%;
}

/* Pagination */
.pagination-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination #previousPageButton {
  cursor: pointer;
  display: flex;
  padding: 10px 20px 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #6366f1;

  /* Texte */
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.pagination #currentPageIndicator {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  /* Texte */
  color: #2c3a4b;

  /* Button/Small */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.pagination #nextPageButton {
  cursor: pointer;
  display: flex;
  padding: 10px 12px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #6366f1;

  /* Texte */
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* Responsive with mobile first */

/* Phone */
@media (min-width: 375px) {
}

/* Tablet */
@media (min-width: 744px) {
  .content,
  .header {
    margin: 0 80px;
  }

  body {
    padding-top: 40px;
  }

  .header {
    padding: 40px 0px;
    border-radius: 16px;
  }

  .header h2 {
    font-size: 30px;
  }

  .section .actions {
    gap: 24px;
  }

  .section .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .modal-content {
    /* width */
    width: 646px;
  }

  .modal-content-body .info-group {
    flex-direction: row;
  }

  .modal-content-body .info-group:last-child .info {
    border-bottom: none;
  }

  .double-chart-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .content,
  .header {
    margin: 0 160px;
  }
  .section .list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
